<html>
 <head>
<link type="text/css" rel="stylesheet" href="https://www.dropbox.com/s/trsldt0me90jzs8/resume.css"/>
<title></title> 
</head>
<body>
<div style="background-color:lightgrey;black:white;padding:20px;">
<div id="header">
<p id="name"><h1>Shruti Wadhwa</h1></p>
         <a href="mailto: shrutiwadhwa99@gmail.com" target="_blank"><p id="email">  shrutiwadhwa99@gmail.com</p></a>
     </div>
     <div class="left">
     </div>
     <div class="right">
            <h3>Career Summary</h3>
            <p>Expert Faculty at NITTTR, Chandigarh ,UIET and 
                      Other Colleges in all over India
                      Delivered Expert Lectures on Linux Administration, CCNA, 
                      Python, Data Science, Machine Learning, Big Data, Cloud 
                      Computing, Cyber Security etc.

            </p>
            <p><b>Worked as a Resource Person at Post Graduate 
		Government College, Sector-42, Chandigarh</b></p>
            <p><b>Acted as a Co-Guide with Dr. Ramakrihna Challa for M.E 
		Student Thesis.
		</b></p>
            <p><b>Actively engaged in research on Cyber Security ,Data 
		Science, Machine Learning Algorithm,Blockchain.</b> </p>
            <ul>
                <li>More than 15 Research publications in referred 
		International and National Journals and Conferences</li>
                <li>Received Best Paper award in Springer Publication at 
		CDAC-Noida
		</li></ul>
            </p>

            <h3>EDUCATION</h3>
            <table>
                <tr id="heading">
                    <td>Qualification</td>
                    <td>University</td>
                    <td>Percentage / Grades</td>
                    
                </tr>
                <tr>
                    <td>M.E (Computer Science)</td>
                    <td>NITTTR, Chandigarh</td>
                    <td>8.7
                </td>
                </tr>
                <tr>
                    <td>B.Tech (Computer Science)</td>
                    <td>P.T.U </td>
                    <td>85</td>
                    
                </tr>
                
            </table>
            <h3>SKILLS & PROFESSIONAL SUMMARY</h3>
            <p>Area of Specialization includes Cyber Security, Artificial 
		Intelligence, Big Data, Cloud Computing & Virtualization,
		Blockchain.</p>
            <ul>
                <li>Delivered online Short Term Training Program (STTP) 
		Sponsored by All India Council for Technical Education 
		(AICTE), on “ BLOCKCHAIN" in Indore.
                </li>
                <li>Delivered one month course on “Big Data Analysis” in 
		UIET, Chandigarh.
                </li>
                <li>Organised a specialized workshop on “Cyber Security 
		& Forensics” at Sardar Patel University of Police 
		Security and Criminal Justice, Jodhpur.

                </li>
                <li>Delivered lecture on “Web Security Audit” during a 
		two days workshop on “Cyber Security & Forensics” at 
		Sardar Patel University of Police Security and Criminal 
		Justice, Jodhpur.
                </li>
                <li>Organised a workshop on "Campus Wide Network 
		Security & Implementation of IPv6" at College of 
		Engineering & Management, Kolaghat.

                </li>
                <li>Delivered lecture on “Web Security Audit” during a 
		three days workshop on on "Campus Wide Network 
		Security & Implementation of IPv6" at College of 
		Engineering & Management, Kolaghat.
                </li>
                <li>Delivered expert lecture on “EIGRP Implementation” 
		for Short Term Course on “Computer Networking 
		using CCNA” at NITTTR, Chandigarh.

                </li>
		<li>Delivered expert lecture on “RIP Implementation” for 
		Short Term Course on “Computer Networking using 
		CCNA” at NITTTR, Chandigarh.
                </li>
		<li>Attended three days workshop on “Knowing Cyber 
		Attack- Adopting Honeynets” held at CDAC-Mohali

                </li>
		<li>Organised National workshop on “Cyber Security & 
		Forensics” at Panjab University, Chandigarh.
                </li>
		<li>Organised National workshop on “Emerging 
		Challenges of Cyber Crime in India” at Jawaharlal 
		Nehru University, New Delhi

                </li>
		<li>Delivered expert lecture on “Malware and Network 
		Attack Analysis using Packet Sniffing” for “Network 
		Security and Firewall” at NITTTR, Chandigarh
                </li>
		<li>Delivered expert lecture on “Mitigation of Network and 
		DOS attack” for Short Term Course on “Network 
		Security and Firewall” at NITTTR, Chandigarh
                </li>
		<li>Delivered expert lecture on “Mitigation of Network and 
		DOS attack” for Short Term Course on “Cyber Crime 
		and Security Awareness” at Govt Polytechnic College, 
		Ambala.
                </li>
		<li>Delivered expert lecture on “Cyber Security 
		Awareness” for Short Term Course at “MM SCHOOL 
		OF PHARMACY MAHARISHI MARKANDESHWAR 
		UNIVERSITY SADOPUR, Ambala.

                </li>
		<li>Delivered six weeks training on “Development using 
		Python” at “NITTTR”, Chandigarh.
                </li>
		<li>Delivered expert lecture on “Advance Algorithm” for 
		M.E Course at “NITTTR”, Chandigarh.
                </li>
		<li>Delivered expert lecture on “PHP and XML” for M.E 
		Course at “NITTTR”, Chandigarh.

                </li>
		<li>Delivered expert lecture on “Hadoop Installation, 
		Hive, Hbase, Pig” for Short Term Course on “High 
		Computing” at “NITTTR”, Chandigarh.
		</li>
		<li>Delivered expert lecture on “Semantic WebKnowledge of Engineering” for Short Term Course on 
		“Semantic Web” at “NITTTR”, Chandigarh.</li>
		<li>Delivered expert lecture on “Deep Learning” for Short 
		Term Course on “Machine Learning and Deep Learning 
		using Open Source” at “NITTTR”, Chandigarh.</li>
		<li>Delivered expert lecture on “Cyber Forensics & DNS 
		Hacking on “Cyber Security” at “National Power 
		Training Institute”, Nangal.</li>
            </ul>
            
     </div>
     <div id="footer"></div>
    </body>
</html>
<!--<html>
<head></head>
<body>
<div style="padding:20px">
<embed type='application/pdf' scr="Profile(Shruti).pdf" style=" width:100%; height=620px"></embed>
</div>
</body>
</html>
<input type=button onClick="location.href='Pro.html'"
 value='View Profile'> -->