{% extends 'home/base.html' %}
{% load static %}
{% block content %}



<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-md-6 aos-item imgOver" data-aos="fade-right">
            <div class="service-box arrow ">
                <div class="service-box-2">
                    <img src="{% static 'images/web_design.jpg' %}" alt="service-icon" ><!--class="img-hight" style="height: 150px;"-->
                </div>
                <div class="service-inner-border">
                    <h4 class="tcolor">WEB DEVELOPMENT</h4>
                </div>
                
                <div class="overlayer padding1">
                    <h4 class="tcolor">WEB DEVELOPMENT</h4>
                    <p class="tcolor" style="text-align:justify">We are providing training for the Web Development using Django Framework and PHP. Students will explore the live projects and get the chance to work on FrontEnd and BackEnd.</p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 aos-item imgOver" data-aos="fade-right">
            <div class="service-box arrow ">
                <div class="service-box-2">
                    <img  src="{% static 'images/ml.jpg' %}" alt="service-icon" ><!--class="img-hight" style="height: 150px;"-->
                </div>
                <div class="service-inner-border">
                    <h4 class="tcolor">Machine Learning</h4>
                </div>
                
                <div class="overlayer padding1">
                    <h4 class="tcolor">Machine Learning</h4>
                    <p class="tcolor" style="text-align:justify">We build highly-customized solutions running on advanced machine learning algorithms. We also help companies integrate these algorithms with image & video analytics, to deliver utmost customer satisfaction and gain a competitive edge over others.</p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 aos-item imgOver" data-aos="fade-right">
            <div class="service-box arrow ">
                <div class="service-box-2">
                    <img src="{% static 'images/bigdata.png' %}" alt="service-icon" ><!--class="img-hight" style="height: 150px;"-->
                </div>
                <div class="service-inner-border">
                    <h4 class="tcolor">Big Data</h4>
                </div>
                
                <div class="overlayer padding1">
                    <h4 class="tcolor">Big Data</h4>
                    <p class="tcolor" style="text-align:justify">We provide full range of big data services, including consulting, implementation, support and big data as a service to help clients benefit from the big data environment.</p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 aos-item imgOver" data-aos="fade-right">
            <div class="service-box arrow ">
                <div class="service-box-2">
                    <img  src="{% static 'images/industrial_training.jpg' %}" alt="service-icon" ><!--class="img-hight" style="height: 150px;"-->
                </div>
                <div class="service-inner-border">
                    <h4 class="tcolor">Industrial Training</h4>
                </div>
                
                <div class="overlayer padding1">
                    <h4 class="tcolor">Industrial Training</h4>
                    <p class="tcolor" style="text-align:justify">We have trained thousands of Students from last six years. We have trained students in the field of Python, Java, Data analysis, Big Data Analytics, Machine learning, Cyber Security, Cloud Computing. </p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 aos-item imgOver" data-aos="fade-right">
            <div class="service-box arrow ">
                <div class="service-box-2">
                    <img src="{% static 'images/linux.png' %}" alt="service-icon" ><!--class="img-hight" style="height: 150px;"-->
                </div>
                <div class="service-inner-border">
                    <h4 class="tcolor">Linux Administration</h4>
                </div>
                
                <div class="overlayer padding1">
                    <h4 class="tcolor">Linux Administration</h4>
                    <p class="tcolor" style="text-align:justify">We provides covers backups, file restores, disaster recovery, new system builds, hardware maintenance, automation, user maintenance, filesystem housekeeping, application installation and configuration, system security management, and storage management.</p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 aos-item imgOver" data-aos="fade-right">
            <div class="service-box arrow ">
                <div class="service-box-2">
                    <img  src="{% static 'images/Cyber Security.jpg' %}" alt="service-icon" ><!--class="img-hight" style="height: 150px;"-->
                </div>
                <div class="service-inner-border">
                    <h4 class="tcolor">Cyber Security</h4>
                </div>
                
                <div class="overlayer padding1">
                    <h4 class="tcolor">Cyber Security</h4>
                    <p class="tcolor" style="text-align:justify"> We help in defending computers, servers, mobile devices, electronic systems, networks, and data from malicious attacks. Also we provide application security that focuses on keeping software and devices free of threats.</p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 aos-item imgOver" data-aos="fade-right">
            <div class="service-box arrow ">
                <div class="service-box-2">
                    <img src="{% static 'images/mobile-app-development.jpg' %}" alt="service-icon" ><!--class="img-hight" style="height: 150px;"-->
                </div>
                <div class="service-inner-border">
                    <h4 class="tcolor">Mobile App Development</h4>
                </div>
                
                <div class="overlayer padding1">
                    <h4 class="tcolor">Mobile App Development</h4><br/>
                    <p class="tcolor" style="text-align:justify">Become a mobile App Developer with proficiency in all aspects of mobile applications from design to building and publishing apps via this App Development course.</p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 aos-item imgOver" data-aos="fade-right">
            <div class="service-box arrow ">
                <div class="service-box-2">
                    <img style="height:195px;" src="{% static 'images/seo.png' %}" alt="service-icon" ><!--class="img-hight" style="height: 150px;"-->
                </div>
                <div class="service-inner-border">
                    <h4 class="tcolor">Serach Engine Optimization</h4>
                </div>
                
                <div class="overlayer padding1">
                    <h4 class="tcolor">Serach Engine Optimization</h4>
                    <p class="tcolor" style="text-align:justify">We are intended to increase visibility and ultimately organic search traffic to websites and help grow your bussiness.</p>
                </div>
                
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-md-6 aos-item imgOver" data-aos="fade-right">
            <div class="service-box arrow ">
                <div class="service-box-2">
                    <img style="height:195px;" src="{% static 'images/dm.png' %}" alt="service-icon" ><!--class="img-hight" style="height: 150px;"-->
                </div>
                <div class="service-inner-border">
                    <h4 class="tcolor">Digital <br/> Marketing</h4>
                </div>
                
                <div class="overlayer padding1">
                    <h4 class="tcolor">Digital  Marketing</h4>
                    <p class="tcolor" style="text-align:justify"> We offer the following services:
                        Email marketing,
                        Content marketing,
                        Social media marketing and advertising,
                        Video marketing,
                        Web design and web redesign.</p>
                </div>
                
            </div>
        </div>
        <!--<div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/Ml.png' %}">
            <div class="box-element product">
                <h6><strong>Machine Learning</strong></h6>
                <hr>
            </div>
        </div> 
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/bigdata.png' %}">
            <div class="box-element product">
                <h6><strong>Big-Data</strong></h6>
                <hr>
            </div>
        </div>  
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/industrial_training.jpg' %}">
            <div class="box-element product">
                <h6><strong>Industrial Training</strong></h6>
                <hr>
            </div>
        </div>  
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/linux.png' %}">
            <div class="box-element product">
                <h6><strong>Linux Administration</strong></h6>
                <hr>
            </div>
        </div>  
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/Cyber Security.jpg' %}">
            <div class="box-element product">
                <h6><strong>Cyber Security</strong></h6>
                <hr>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/android.jpg' %}">
            <div class="box-element product">
                <h6><strong>Mobile App Development</strong></h6>
                <hr>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/seo.png' %}">
            <div class="box-element product">
                <h6><strong>Search Engine Optimization</strong></h6>
                <hr>
            </div>
        </div>
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/dm.png' %}">
            <div class="box-element product">
                <h6><strong>Digital Marketing</strong></h6>
                <hr>
            </div>
        </div>-->    
    </div>
</div>

{% endblock content %} 