/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL CSS STYLE
* 02.PRELOADER & BOUNCE CCS STYLE
* 03.HOMEPAGE CSS STYLE
    -LOGO CSS
    -MENU CSS
* 04.ABOUT CSS STYLE
* 05.SERVICE CSS STYLE
* 06.WORK CSS STYLE
* 07.AVAILABLE CSS STYLE
* 08.CONTACT CSS STYLE
* 09.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700|Rubik:400,600,700");
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Rubik", sans-serif;
  
  position: relative;
  
   /* red stappler
  width: 100vw;
  
  margin: 0;
  /*font-family: 'Montserrat'; 
  color: black;
  line-height: 1.5;
  text-align: center;
  /* red stappler*/
  height:100%;
  margin:0;
  font-size:16px;
  /* font-family:"Lato", sans-serif;
	color:#666;  */
  font-weight:400;
  line-height:1.8em;
  
}
/*
p {
  line-height: 28px;
  font-size: 15px;
}
*/
html {
  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
  color: #232323;
}

a {
  text-decoration: none;
  transition: all 0.2s;
  color: #000;
}

img {
  max-width: 100%;
}

a:hover {
  color: #635CDB;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
  line-height: 38px;
}

h4 {
  font-size: 22px;
  line-height: 32px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 26px;
}

.f-color {
  color: #635CDB;
}

h5.subtitle {
  font-size: 16px;
  font-weight: 400;
}

.no-padding {
  padding: 0;
}

.flaticon {
  display: inline;
}

.mb30 {
  margin-bottom: 30px;
}

.section-padding {
  padding: 90px 0px;
}

.section-heading {
  text-align: center;
  width: 70%;
  margin: 0 auto 60px;
}

.section-title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.section-title span {
  color: #635CDB;
}

.section {
  padding: 100px 0px;
}

.line {
  width: 50px;
  background: #635CDB;
  height: 1px;
  margin: 10px auto;
}

/*---------- BUTTONS ----------*/
.btn {
  font: 600 10.5px/1;
  display: inline-block;
  padding: 15px 45px 15px 45px;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: all .2s;
  border-radius: 0px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
}

.btn:focus,
.btn:active,
.btn:active:focus {
  outline: none;
  box-shadow: none;
}

.btn-hero,
.btn-white:hover {
  color: #fff !important;
  background: #635CDB;
}

.btn-hero:focus {
  color: #fff !important;
}

.btn-black,
.btn-hero:hover {
  background-color: black;
  color: #fff !important;
}

.btn-black:hover {
  color: #fff;
  background: #635CDB;
}

.btn-black:focus {
  color: #fff;
}

.btn-white {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(255, 255, 255, 0.12);
}

.btn-white:focus {
  color: #000;
}

.btn-white:active {
  color: #fff;
}

.btn-trans-black {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.85);
}

.btn-trans-black:hover {
  color: white;
  background-color: #000;
}

.btn-trans-white {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.95);
}

.btn-trans-white:hover {
  background-color: rgba(255, 255, 255, 0.95);
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(255, 255, 255, 0.12);
}

.btn-trans-white:active,
.btn-trans-white:focus {
  color: #fff;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.12);
}

.btn-rounded {
  border-radius: 2px;
}

.btn-circled {
  border-radius: 40px;
}

.btn-trans-black:hover {
  background: #635CDB !important;
}

/*---------- COLORS ----------*/
/*-- Background Colors --*/
.bg-black {
  background-color: #000;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.96);
}

.bg-feature {
  background-color: black;
}

.bg-primary {
  background-color: #0db8ca;
}

.bg-gray {
  background-color: #f2f4ec;
}

.bg-white {
  background-color: #fff;
}

.d-table {
  width: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.brown-overlay {
  background: #222955;
  opacity: .97;
}

.feature-overlay {
  background: #635CDB;
  opacity: .97;
}

.gr-overlay {
  background: linear-gradient(135deg, #2f1ce0 0%, #53a0fd 30%, #51eca5 100%);
  opacity: .87;
}

/* ========================

==============================*/
.heading {
  margin-bottom: 40px;
}

.heading h3 {
  margin-bottom: 10px;
  font-weight: 600;
}

/*------------------------------------
  MENU NAVIGATION AREA
----------------------------------*/
.site-navigation,
.trans-navigation {
  padding: 20px 0px;
}

.site-navigation .navbar-nav a,
.trans-navigation .navbar-nav a {
  text-transform: uppercase;
}

.site-navigation .navbar-nav a.active,
.trans-navigation .navbar-nav a.active {
  color: red;
}

.header-white {
  position: fixed;
  top: 0px;
  background: #111;
  z-index: 9999;
  width: 100%;
  left: 0;
  transition: all .5s ease 0s;
  color: #000 !important;
}

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link,
.navbar-expand-lg.site-navigation .navbar-nav .nav-link {
  padding: 0px 24px;
}

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link:last-child,
.navbar-expand-lg.site-navigation .navbar-nav .nav-link:last-child {
  padding-right: 0px;
}

.site-navigation,
.trans-navigation {
  transition: all .5s ease 0s;
}

.navbar-brand {
  padding-top: 0px;
  margin-right: 60px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
}

.navbar-brand span {
  font-weight: 400;
}

.navbar-expand-lg.trans-navigation .navbar-nav .nav-link {
  color: #fff;
}

.trans-navigation {
  background: transparent;
}

.trans-navigation.header-white {
  background: black !important;
}

.trans-navigation.header-white .navbar-nav .nav-link {
  /**color: #fff; */
}

.trans-navigation.header-white .navbar-nav a.active {
  color: #635CDB;
}

.navbar-brand img {
  max-width: 100%;
}

.trans-navigation.header-white .btn-white {
  background: #635CDB;
  color: #fff;
}

/* ===============================
 DROPDOWN MENU
================================*/
.navbar-expand-lg.trans-navigation .navbar-nav .nav-link.dropdown-toggle {
  padding-right: 0px;
}

.nav-item.dropdown .dropdown-menu {
  transition: all 300ms ease;
  display: block;
  visibility: hidden;
  opacity: 0;
  top: 120%;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
  border: 0px;
  padding: 0px;
  position: absolute;
}

.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #635CDB;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  opacity: 0;
}

.dropdown-menu.show {
  -webkit-animation: .2s forwards b;
          animation: .2s forwards b;
}

@-webkit-keyframes b {
  to {
    opacity: 1;
  }
}

@keyframes b {
  to {
    opacity: 1;
  }
}

.dropdown-item {
  font-size: .6875rem;
  font-weight: 500;
  padding-top: .5rem;
  padding-bottom: .5rem;
  transition: background-color .1s;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .dropdown-item {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
}

@media (min-width: 1200px) {
  .dropdown-item + .dropdown-item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

/*------------------------------------
 BANNER AREA
----------------------------------*/
.banner-area .content-padding {
  padding: 250px 0px 180px;
}

.content-padding {
  padding: 180px 0px 80px;
}

.banner-content {
  padding-right: 30px;
}

.banner-content .btn {
  margin-top: 15px;
}

.banner-content .banner-title {
  color: #fff;
  font-weight: 700;
  line-height: 50px;
}

.banner-content .subtitle {
  color: #fff;
  background: #635CDB;
  display: inline-block;
  padding: 3px 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subtitle {
  color: #635CDB;
}

.banner-content p {
  margin: 20px 0px;
  color: #eee;
  font-size: 18px;
  line-height: 30px;
}

.banner-content .btn {
  margin-right: 12px;
}

.btn-sm {
  padding: 10px 30px;
}

.banner-1 {
  background: url("../images/banner/bg-2.jpg");
  background-size: cover;
  position: relative;
}

.banner-2 {
  background: url("../images/banner/slider-3.jpg");
  background-size: cover;
  position: relative;
}

.banner-3 {
  background: url("../images/banner/banner-bg.jpg");
  background-size: cover;
  position: relative;
}

.section-heading h2 {
  margin-bottom: 20px;
  font-weight: 400;
}

/* =======================================
INner Pages
=========================================*/
#page-banner {
  position: relative;
  padding: 60px 0px 80px;
}

.page-banner-area {
  background: url("../images/banner/1.jpg") no-repeat 50% 50%;
  background-size: cover;
}

/*-------------------- ------------
 INTRO SECTION
-----------------------------*/
#intro {
  padding-bottom: 0px;
}

.intro-img {
  margin-top: 45px;
}
.video{
  margin-top: 45px;
  
}
#intro .section-heading p {
  color: #000;
  font-size: 30px;
  line-height: 40px;
}

.intro-box {
  margin-top: 30px;
  position: relative;
  margin-bottom: 20px;
}

.intro-box h4:before {
  position: absolute;
  left: 0px;
  top: 17px;
  content: "";
  bottom: 0px;
  background: #000;
  width: 50px;
  height: 2px;
}

.intro-box h4 {
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
  padding-left: 60px;
}

.intro-box span {
  font-size: 28px;
  color: #635CDB;
}

.intro-cta {
  margin-top: 40px;
}

/*--------------------------
  ABOUT SECTION
----------------------*/
.section-pt {
  padding-top: 90px;
}

.section-pb {
  padding-bottom: 90px;
}

#about {
  position: relative;
  padding-bottom: 85px;
}

.about-bg-img {
  position: absolute;
  right: 0px;
  content: "";
  background: url("../images/banner/1.jpg") 50% 50%;
  width: 40%;
  height: 100%;
  max-height: 560px;
  top: 0px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
}

.about-content {
  margin-top: 94px;
}

.about-content .subtitle {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about-content h3 {
  margin-bottom: 25px;
}

.about-list {
  margin-top: 30px;
}

.about-list li {
  width: 45%;
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
  color: #888;
}

.about-list li i {
  color: #000;
  margin-right: 10px;
}

/* ========================
HISTORY MISSION
==============================*/
.img-block img {
  width: 200px;
}

/* ========================

==============================*/
#section-strategy {
  background: url("../images/bg/bg-1.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.strategy-text {
  margin-bottom: 50px;
}

.strategy-text h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.strategy-text span {
  font-size: 61px;
  color: #635CDB;
  margin-bottom: 15px;
  display: block;
}

/*--------------------------------
 COUNTER SECTION
-----------------------------*/
.counter {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  line-height: 70px;
  margin: 10px 0px;
  color: #635CDB;
}

.counter-stat i {
  font-size: 40px;
  color: #fff;
  margin-right: 10px;
}

.counter-stat h5 {
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.counter-block span {
  font-size: 30px;
}

#counter .dark-overlay {
  background: #000;
  opacity: 0.95;
}

#counter {
  background: url("../images/banner/pattern-3.png") fixed 50% 50%;
  position: relative;
  background-size: cover;
  padding-top: 87px;
  padding-bottom: 95px;
}

/*--------------------------
  SERVICE AREA SECTION
----------------------*/
.page-banner-area.page-service {
  background: url("../images/bg/bg-2.jpg") no-repeat;
  background-size: cover;
}

#service-head {
	 
  padding-bottom: 100px;
  padding-top: 90px;
  
}

#service-head .section-title {
  color: #fff;
  
}

.text-white p {
  color: #fff;
}

#service {
  margin-top: -100px;
  padding-bottom: 70px;
}

.service-box .service-img-icon {
  width: 100px;
  height: 100px;
  text-align: center;
  background: #fff;
  padding-top: 20px;
  margin: 0 auto;
  border-radius: 100%;
  margin-bottom: 20px;
  background: #635CDB;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}

.service-box {
  margin-bottom: 40px;
  background: #fff;
  text-align: center;
  padding: 45px 25px 30px 25px;
  border: 1px solid transparent;
  transition: all .3s ease 0s;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.service-inner {
  margin-top: 30px;
}

.service-inner h4 {
  margin-bottom: 20px;
}

.service-inner span {
  color: #635CDB;
}

/* ================================
SERVICE PAGE
==============================*/
.bg-gray {
  background: #f4f4f4;
}

.service-block-2 {
  position: relative;
}

.service-block-2 h4 {
  margin-bottom: 15px;
  line-height: 26px;
}

.service-block-2 p {
  font-size: 16px;
}

.service-block-2 span {
  position: absolute;
  content: "";
  font-size: 70px;
  top: 0px;
  left: 0px;
  font-weight: 800;
  opacity: .05;
  margin-top: -15px;
}

.service-style-two {
  background: url("../images/bg/bg-2.jpg") no-repeat;
  background-size: cover;
  position: relative;
}

.service-style-two:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.heading {
  margin-bottom: 70px;
}


/*------------------------------------
  CLIENT PARTNER AREA SECTION
--------------------------------*/
#clients {
  padding-top: 75px;
  padding-bottom: 80px;
  position: relative;
}

.client-img {
  background: #fff;
}

/*------------------------------------
  TESTIMONIAL AREA SECTION
---------------------------------*/
.author-img img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 5px solid #ddd;
}

.author-info p {
  margin: 0px;
  font-size: 14px;
}

.carousel-indicators {
  bottom: 0px;
  margin-bottom: 0px;
}

.carousel-indicators li {
  background: #111;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-indicators li.active {
  background: #635CDB;
}

.testimonial-content {
  padding: 0px 40px;
  text-align: center;
  margin-bottom: 40px;
}

.testimonial-content .author-text {
  padding-top: 10px;
}

.testimonial-content .author-info {
  display: block;
  margin-bottom: 25px;
}

.testimonial-content p {
  font-size: 20px;
  line-height: 36px;
  color: #222;
  margin: 35px 0px;
  display: block;
}

.author-text h5 {
  text-transform: uppercase;
}

.author-text p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 36px;
  color: #888;
  margin: 0px;
}

.testimonial-content p i {
  margin: 0px 8px;
}

/*--------------------------
 FOOTER
----------------------*/
#footer {
  padding-bottom: 60px;
  position: relative;
  background: url("../images/bg/2.png");
  border-top: 1px solid #eee;
}

.footer-widget ul li {
  padding: 5px 0px;
}

.footer-widget p {
  margin-bottom: 5px;
}

.footer-widget h4 {
  margin-bottom: 20px;
}

.footer-widget h4 span {
  color: #635CDB;
  display: block;
  font-size: 60px;
  line-height: 60px;
}

.footer-blog li img {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 20px;
}

.footer-blog li h5 {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
}

.footer-blog li a.read-more {
  font-size: 13px;
}

.footer-blog li {
  margin-bottom: 15px;
}

.footer-copy {
  letter-spacing: 1px;
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #eee;
}

.footer-text h6 {
  margin-bottom: 10px;
}

.footer-text p span {
  color: #000;
}

.footer-text p.mail {
  color: #635CDB;
}

.bg-main {
  background: #F4F8FB;
}

.footer-widget a {
  color: #999;
}

/*-------------------------------
 RESPONSIVE LAYOUT
---------------------------------*/
/*Extra large devices (large desktops, 1200px and up)*/
/*Large devices (desktops, 992px and up)*/
/*Medium devices (tablets, 768px and up)*/
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  /*---------------
     NAVIGATION
    ----------------*/
  .navbar-toggler {
    background: #fff;
    border-radius: 0px;
  }
  .navbar-toggler-icon {
    height: auto;
    padding: 10px 0px;
  }
  .trans-navigation {
    background: transparent;
  }
  .navbar-expand-lg.trans-navigation .navbar-nav .nav-link {
    margin-bottom: 10px;
  }
  /*----------------------
     SECTION HEAINDG
    -----------------------*/
  .section-heading {
    width: 100%;
  }
  /*----------------
     INTRO
    ----------------*/
  #intro {
    padding-bottom: 90px;
  }
  /*----------------
     ABOUT
    ----------------*/
  .about-list li {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .about-bg-img {
    width: 35%;
    height: 100%;
    max-height: 600px;
  }
  .about-content {
    margin-top: 60px;
  }
  #about {
    padding-bottom: 40px;
  }
  
  /*--------------
     FOOTER
    ----------------*/
  .footer-widget {
    margin-bottom: 30px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /*---------------
     NAVIGATION
    ----------------*/
  .navbar-toggler {
    background: #fff;
    border-radius: 0px;
  }
  .navbar-toggler-icon {
    height: auto;
    padding: 10px 0px;
  }
  .trans-navigation {
    background: transparent;
  }
  .navbar-expand-lg.trans-navigation .navbar-nav .nav-link {
    margin-bottom: 10px;
  }
  /*----------------------
     SECTION HEAINDG
    -----------------------*/
  .section-heading {
    width: 100%;
  }
  /*----------------
     INTRO
    ----------------*/
  #intro {
    padding-bottom: 90px;
  }
  /*----------------
     ABOUT
    ----------------*/
  .about-content {
    margin-top: 60px;
  }
  #about {
    padding-bottom: 40px;
  }
  /*-------------------
     TESTIMONIAL
    -------------------*/
  .testimonial-content {
    padding: 10px;
  }
  
  /*--------------
     FOOTER
    ----------------*/
  .footer-widget {
    margin-bottom: 30px;
  }
  .pricing-block {
    margin-bottom: 30px;
  }
  .img-block img {
    width: 130px;
  }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  /*---------------
     NAVIGATION
    ----------------*/
  .navbar-toggler {
    background: #fff;
    border-radius: 0px;
  }
  .navbar-toggler-icon {
    height: auto;
    padding: 10px 0px;
  }
  .trans-navigation {
    background: transparent;
    padding: 20px 15px;
  }
  .navbar-expand-lg.trans-navigation .navbar-nav .nav-link {
    margin-bottom: 10px;
  }
  /*----------------------
     SECTION HEAINDG
    -----------------------*/
  #intro .section-heading, .section-heading {
    width: 100%;
  }
  #intro .section-heading p {
    font-size: 16px;
    line-height: 28px;
  }
  .section-title {
    font-size: 26px;
    line-height: 36px;
  }
  h1 {
    font-size: 32px;
    line-height: 36px;
  }
  /*--------------------
     BANNER
    -----------------*/
  .banner-content .banner-title {
    line-height: 37px;
  }
  .banner-content p {
    font-size: 16px;
  }
  /*----------------
     INTRO
    ----------------*/
  #intro {
    padding-bottom: 90px;
  }
  /*----------------
     ABOUT
    ----------------*/
  .about-list li {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .about-bg-img {
    width: 35%;
    height: 100%;
    max-height: 600px;
  }
  .about-content {
    margin-top: 60px;
  }
  #about {
    padding-bottom: 40px;
  }
  .img-block img {
    width: 130px;
  }
  .service-block {
    margin-bottom: 20px;
  }
  /*-------------------
     TESTIMONIAL
    -------------------*/
  .testimonial-content {
    padding: 10px;
  }
  
  /*--------------
     FOOTER
    ----------------*/
  .footer-widget {
    margin-bottom: 30px;
  }
  .pricing-block {
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=maps/style.css.map */

/* red stappler */



.wrapper {
  min-width: 100%; 
  margin: 0 auto;

  position: relative;  /* for position absolute to work*/
}
.detail-wrapper {
  min-width: 100%;
  margin-bottom: 100px;
  display:block;
  display: flex; 
}
details {
  width: 100%;
}
.detail-wrapper::before{
  content: "";
  width: 3px;
  background-color: #d9d9d9;

  left:50%;
  position: absolute;
  top:0;
  bottom:0;
}
.detail-wrapper::after{
  font-family: Font Awesome\ 5 Free;
  content: "\f058";
  font-size: 40px;
  color: #23b5af;
  width: 50px;
  height: 50px;
  line-height: 50px;

  position: absolute;
  left: 50%;
  background: white;

  margin-left:-25px;
  border-radius: 50%;
  z-index: 999;
}
.wrapper > .detail-wrapper:not(:nth-child(even)) {
 /* justify-content: left;
  width:95%;
  padding-left:5px
  */
  justify-content: right;
  padding-right: 52.5%;
  
  padding-left:3%;
}
.wrapper > .detail-wrapper:nth-child(even) {
  justify-content: right;
  padding-left: 52.5%;
  
  padding-right:3%;
}

summary {
  font-size: 22px;
  font-weight: 600;
  background-color: white;
  color: black;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline:none;
}

.summary-right-align{
	text-align:right;
}
.summary-left-align{
	text-align:left;
}



details[open] summary  {
	margin-bottom: 25px; 
	
}



/* worst come worst save code*/
/* 


.wrapper {
  width: 500px; 
  text-align: center;
  margin: 0 auto;

  position: relative;  /* for position absolute to work
}
.detail-wrapper {
  width: 100%;
  margin-bottom: 100px;
  
  display: flex; 
}
details {
  width: 50%;
}
.detail-wrapper::before{
  content: "";
  width: 3px;
  background-color: #d9d9d9;

  left:50%;
  position: absolute;
  top:0;
  bottom:0;
}
.detail-wrapper::after{
  font-family: Font Awesome\ 5 Free;
  content: "\f058";
  font-size: 40px;
  color: #23b5af;
  width: 50px;
  height: 50px;
  line-height: 50px;

  position: absolute;
  left: 50%;
  background: white;

  margin-left:-25px;
  border-radius: 50%;
  z-index: 999;
}
.wrapper > .detail-wrapper:not(:nth-child(even)) {
  justify-content: left;
  padding-right: 100px; 
}
.wrapper > .detail-wrapper:nth-child(even) {
  justify-content: right;
  margin-left: 300px;
}

summary {
  font-size: 22px;
  font-weight: 600;
  background-color: rgb(43, 43, 43);
  color: white;
  padding: 15px;
  
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
/*  width:200px 
}
details[open] summary  {margin-bottom: 25px; }
*/
/* parallax website*/
/*
body, html{

  /* red stappler
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat';
  color: black;
  line-height: 1.5;
  text-align: center;
  /* red stappler
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}
*/
.pimg1, .pimg2, .pimg3{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../images/bg1.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../images/bg7.jpg');
  min-height:100%;
}

.pimg3{
  /* background-image:url('../images/bg10.jpg'); */
  background-color: #231f20;;
  min-height:100%;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:40%;
  width:100%;
  text-align:center;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
  color:whitesmoke;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}
/*
#anchor{
	text-decoration:none;
	
}*/
.content{
	padding-left:50px

}
.ptext2{
	text-align:left;
	padding-left:5%;
}
.service{
	position:absolute;
	top:10%;
	width:50%;
	text-align:center;
	color:#000;
	font-size:27px;
	letter-spacing:8px;
	text-transform:uppercase;
	border: solid 5px black;
}
.service1{
	position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
  background-attachment:scroll;
  background-image:url('bg.png');
  min-height:100%;
  float:right;
}
.btn-margin{
	margin-left:40px
}

/* ===============================
 MY ADDED CODE
================================*/	
.bold{
	font-weight:500;
	color:#002551;
}
.ptext_bold{
	font-weight:600;
    
}
.arrow{
	position: relative;
  top: 0;
  transition: all ease 0.5s;
}
.arrow:hover {
  top: -10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  transition: all 0.5s ease;
}
.tcolor{
	color:#002551 !important;
}
.center-align{
  padding-bottom:5%;
  width:100%;
  text-align:center;
  
  text-transform:uppercase;
}
.no-padding{
	padding:1% !important;
}
.less-width{
	max-width:50%
}
.particles-js{
	color: #231f20;
	 position:absolute;
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  
}
canvas{
  display:block;
  vertical-align:bottom;
  width: 100%;
	height:100%; 
	background-attachment:fixed;
	
}
.pos-rel{
	position:static !important;
}

.overlayer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: #fff;
}

.imgOver:hover .overlayer {
  opacity: 1;
}
.service-img-style{
 
  width: 100%;
  height: 100px;
  text-align: center;
  background: #fff;
  border-radius: 100%;
  
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff; 
}
.service-inner-border{
  padding: 10px 10px 10px 10px; 
}
.service-box-2{
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: 1px solid transparent;
  transition: all .3s ease 0s;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.service-box-2 img{
  height:200px;
}

.padding1{
  padding: 45px 25px 30px 25px;
}

.col-lg-4 {
	margin-top: 60px;
}
.thumbnail {
	width: 355px;
	height: 300px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
	-moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
	box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}
.box-element {
	box-shadow: hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}
.product {
	border-radius: 0 0 4px 4px;
}
.btn {
	border-radius: 0;
}

.fa_back
{
  margin-bottom:35px;
  margin-left:50px;
  width:100px;
  height:100px;
  padding:10px;
  font-size: 28px;
  border-radius: 50px;
  background: #002551;  
}

.fa_black
{
color:black !important;

}

.fa
{
  color:white;
}

.fac
 {
   margin-top:25px;
 }


.fac:hover
{
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  color:#002551;
  background-color: white;
  border-radius: 40px;
 

}



.fa_back:hover
{
  background-color: white;
  border:3px solid black
}

